

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
body{
  direction: rtl;  font-family: 'Cairo', sans-serif;
  list-style: none;
}
.navbar-light{
  background: #144ea5;
  color: white
}
 .nav-link {
  color:yellow !important;  font-family: 'Cairo', sans-serif;
}

.nav-link.active{

  color: white !important;
}

.form-control{
  background-color: #f6f6f6;
  background-clip: padding-box;
  border: 1px solid #ffffff;
  border-radius: 0;
}

.title{
  font-family: 'Cairo', sans-serif;
background:#2c67be;color:#fff;

font-size: 20px;

}
.Submit{
  font-family: 'Cairo', sans-serif;
}
.footer{
  font-family: 'Cairo', sans-serif;

  color: #096eb9;
    font-size: 14px;
}
